h1 {
  background: linear-gradient(#1b25ac, #591d81);
  text-align: center;
  height: 60px;
}
h2 {
  margin-left: 5%;
}
header {
  color: white;
  justify-content: center;
  display: block;
}
.btnWrapper {
  justify-content: center;
}
.container {
  display: flex;
}
.current-weather {
  background-color: slategray;
  width: 70vw;
  min-height: 40vh;
  margin-left: 5%;
}
.forecastday {
  width: fit-content;
  background-color: slategray;
  margin: 1%;
}
.forecast-wrapper {
  justify-content: space-evenly;
  width: 100%;
  display: block;
}
.row {
  flex-direction: row;
}
.sidebar {
  max-height: 90vh;
  /* width: 30%; */
  background-color: slategray;
  margin-top: 1.5%;
}
.weather-conditions {
  padding-bottom: 1%;
}
.weather-forecast {
  margin-left: 5%;
}
