h1 {
  background: linear-gradient(#2e3844, #548c89);
  text-align: center;
  height: 60px;
}
h2 {
  margin-left: 5%;
}
header {
  justify-content: center;
  display: block;
}
.container {
  display: flex;
}
.current-weather {
  background-color: slategray;
  width: 70vw;
  min-height: 40vh;
  margin-left: 5%;
}
.forecastday {
}
.forecast-wrapper {
  width: 100%;
  display: block;
  margin-left: 2%;
}
.row {
  flex-direction: row;
}
.sidebar {
  max-height: 90vh;
  /* width: 30%; */
  background-color: blue;
  margin-top: 1.5%;
}
.weather-forecast {
  margin-left: 5%;
}
